.container{
  display: flex;
  justify-content: space-between;
  height: 98vh;

  font-size: 2rem;

  @media screen and (max-width: 768px){
    
    flex-direction: column;

  }

  textarea{
    flex: .49;
    height: 100%;
    font-size: 2rem;
  }

}

.result{
  flex: .49;
  height: 100%;
  cursor: pointer;
  margin: 0;

  --hover-event: block;

  &:hover::before{
    display: var(--hover-event);
    content: attr(data-hint);
    background:#0c6aa1;
    color:#fff;
    padding:.3em .5em;
    position:absolute;
    right: 10px;
    text-align: center;
  }
    
}